.home-image {
  width: 80%;
  height: 35em;
  margin: auto;
  border-radius: 2rem;
}
.news-parent {
  background-color: rgb(82, 116, 150) !important;
  color: white !important;
  font-size: 1.5em;
  height: 2em;
  border-radius: 0.5em;
}
.slides {
  border: black solid 2px;
  border-radius: 2em !important;
}
.slide-text {
  color: black;
  font-weight: 900;
  /* font-size: 2em; */
  text-decoration: black overline;
  /* text-shadow: black 2px; */
  /* background-color: rgb(112, 110, 110); */
}

.part-2 {
  display: flex;
  flex-direction: row;
}
.toppers {
  width: 50%;
}
.marquee {
  width: 100%;
line-height: 50px;
background-color: rgb(33, 37, 41);
color: yellow;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}
@media (min-width: 320px) and (max-width: 480px) {
  /* for mobile devices */
  .home-image {
    height: 10rem;
  }
  .news-parent {
    font-size: 1em;
    height: 100%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  /* for ipad , tablets */
  .home-image {
    height: 15rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* for small screens, laptops */
  .home-image {
    height: 25rem;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  /* for desktops, large screens */
}
@media (min-width: 1201px) {
  /* for extra large screens */
}



