.Director-parent {
  display: flex;
  flex-direction: row;
}
.Director-img {
  width: auto;
  height: 15em;
  border-radius: 5rem;
  margin-right: 2rem;
  margin-bottom: 2em;
}
.label {
  font-size: 1.5em;
}
.desig {
  font: 1.25em;
  font-weight: 700;
}
.Director-img:hover {
  border: black 2px solid;
  box-shadow: rgb(104, 101, 101) 2px 2px 4px 4px;
  transform: scale(1.005);
}
.Director-text {
  font-size: large;
}
.component {
  border: black 0.2px solid;
  border-radius: 20px;
  margin-top: 3em;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #212529;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (min-width: 320px) and (max-width: 480px) {
  /* for mobile devices */
  .Director-parent {
    display: block;
    /* background-color: green; */
  }
  .Director-img {
    width: 18em;
    height: 18em;
 
    margin-top: 2rem;
  }
  .Director-child {
    flex-direction: row;
  }
  .component {
    border: black 1px solid;
    border-radius: 20px;
    margin-top: 3em;
  }
  .Director-text {
    font-size: 1em;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  /* for ipad , tablets */
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* for small screens, laptops */
}
@media (min-width: 1025px) and (max-width: 1200px) {
  /* for desktops, large screens */
}
@media (min-width: 1201px) {
  /* for extra large screens */
}
