.Director-parent {
  display: flex;
  flex-direction: row;
}
.Director-parent2 {
  display: flex;
  flex-direction: row;
}
.blue{
  color: rgb(96, 96, 213);
}
.Director-img {
  width: 25em;
  height:auto;
  border-radius: 5rem;
  margin-right: 2rem;
  margin-bottom: 2em;
}
.label {
  font-size: 2.5em;
}
.desig {
  font-size:2em;
  font-weight: 700;
}
// .Director-img:hover {
//   border: black 2px solid;
//   box-shadow: rgb(104, 101, 101) 2px 2px 4px 4px;
//   transform: scale(1.005);
// }
.Director-text {
  font-size: 2em;
  margin-top: 2em !important;
}
.con-head{
font-size: 3.5em;
}
.about-text {
  font-size: 2em;
}
.component {
  border: black 0.2px solid;
  border-radius: 20px;
  margin-top: 3em;
  width: 100%;
  height: 50% !important;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #212529;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (min-width: 320px) and (max-width: 480px) {
  /* for mobile devices */
  .Director-parent {
    display: block;
    /* background-color: green; */
  }
  .Director-parent2{
    display: flex;
    flex-direction: column-reverse;
  }
  .Director-img {
    width: 30em;
    height: auto;
 
    margin-top: 2rem;
  }
  .Director-child {
    flex-direction: row;
  }
  .component {
    border: black 1px solid;
    border-radius: 20px;
    margin-top: 3em;
  }
  .Director-text {
    font-size: 2em;
    margin-top: 0em !important;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  /* for ipad , tablets */
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* for small screens, laptops */
}
@media (min-width: 1025px) and (max-width: 1200px) {
  /* for desktops, large screens */
}
@media (min-width: 1201px) {
  /* for extra large screens */
}
