.call {
  font-size: 1.5em;
  margin-top: 0.5rem !important;
  color: black !important;
  display: flex;

}
.head-ad{
  /* display: block !important; */

  font-size: 1.75em;
  margin: 2em 0px 2em 0px !important;
}
.call-parent {
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
  margin-top: 4em;
}
.whattsapp-parent {
  margin-right: 0px !important;
  margin-left: 10em;
  margin-top: 5em;
  display: flex;
  flex-direction: row;
}
.call-icon,
.wa-icon {
  width: 4em;
  height: 4em;
}
.map {
  margin-top: 5em;
  flex-direction: column;
  border-radius: 2em;
  border: black 2px solid;
  box-shadow: black 2px 2px 5px 2px;
}
.visit {
  display: flex;
}

.visit-text {
  flex-direction: column;
  font-size: 3em;
  margin-top: 1.5em;
  
  width: 600px;
  margin-left: 2em;
  /* border: black 2px solid; */
  text-align: center;
}

.call-icon:hover,
.wa-icon:hover {
  animation: shake 0.5s !important;
  animation-iteration-count: infinite !important;
}

@media (min-width: 320px) and (max-width: 480px) {
  /* for mobile devices */

  .call-parent {
    display: block;
    width: auto;
    margin-left: 0px;
  }
  .call {
    font-size: 1.3em;
    display: flex;
    justify-content: center;
  }
  .whattsapp-parent {
    display: flex;
    flex-direction: column-reverse;
    /* flex-direction: column-reverse; */
    margin-left: 0px;
  }
  .call-icon,
  .wa-icon {
    width: 2em;
    height: 2em;
  }

  .visit {
    display: flex;
    flex-direction: column-reverse;
  }
  .map {
    width: 100%;
    height: 20em;
    margin-top: 0em;
    margin-bottom: 20em;
  }
  .visit-text {
    font-size: 2em;
    width: 100%;
    margin-bottom: 2em;
    margin-left: 0px;
    border: black 2px solid;
    border-radius: 2em;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  /* for ipad , tablets */
  .call-parent {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .whattsapp-parent {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    /* margin-left: 0px; */
  }
  .call {
    font-size: 1.3em;
    display: flex;
    justify-content: center !important;
  }
  .visit {
    display: flex;
    flex-direction: column-reverse;
  }
  .visit-text {
    font-size: 2em;
    width: 100%;
    margin-bottom: 2em;
    margin-left: 0px;
    border: black 2px solid;
    border-radius: 2em;
  }.map {
    width: 100%;
    height: 30em;
    margin-top: 0em;
    margin-bottom: 20em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* for small screens, laptops */
}
@media (min-width: 1025px) and (max-width: 1200px) {
  /* for desktops, large screens */
}
@media (min-width: 1201px) {
  /* for extra large screens */
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
