.c {
  width: 18rem;
  margin: auto;
  margin-top: 1rem;
  background-color: #31363b;
  border-radius: 5%;
}


.parent {
  display: flex;
  flex-wrap: wrap;
}
.card-img-top {
  border-radius: 5%;
  width: 70%;
  height: auto;
  margin: auto;
  margin-top: 1rem;
}
.card-text {
  margin-top: 10px !important;
  border-radius: 5%;
  background-color: #3b3f42;
  color: white;
}

@media (min-width: 320px) and (max-width: 480px) {
  /* for mobile devices */
}
@media (min-width: 481px) and (max-width: 768px) {
  /* for ipad , tablets */
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* for small screens, laptops */
}
@media (min-width: 1025px) and (max-width: 1200px) {
  /* for desktops, large screens */
}
@media (min-width: 1201px) {
  /* for extra large screens */
}
