.latest-result {
  margin-top: 2rem;
}
.Classwise-breakthrough {
  list-style: none;
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  margin-right: 100px;
}
.c {
  width: 18rem;
  margin: auto;
  margin-top: 1rem;
  background-color: whitesmoke;
  /* background-color: #31363b; */
  border-radius: 5%;
  border: black solid 2px;
}
.card-img-top {
  border-radius: 5%;
  width: 70%;
  height: auto;
  margin: auto;
  margin-top: 1rem;
}
.card-text {
  margin-top: 10px !important;
  border-radius: 5%;
  background-color: #3b3f42;
  color: white;
}
.list-element {
  color: black;
  text-decoration: black underline;
  flex-direction: column;
  margin-left: 4rem;
}
.no_bullets{
  list-style-type: none;
}
.list{
  display: flex;
  justify-content: center;
}
.badge {
  background-color: rgb(230, 87, 87);
}

@media (min-width: 320px) and (max-width: 480px) {
  /* for mobile devices */
  .Classwise-breakthrough {
    display: block;
  }
  .list-element {
    margin-left: 0px;
    flex-direction: row;
  }
  .list {
    margin-left: 3.75rem;
  }
  *{
    font-size: 01em;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  /* for ipad , tablets */
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* for small screens, laptops */
}
@media (min-width: 1025px) and (max-width: 1200px) {
  /* for desktops, large screens */
}
@media (min-width: 1201px) {
  /* for extra large screens */
}
