.latest-result {
  margin-top: 2rem;
}
.Classwise-breakthrough {
  list-style: none;
  font-size: 2rem;
  display: flex;
  margin-right: 100px;
}
.list-element {
  color: black;
  text-decoration: black underline;
  flex-direction: column;
  margin-left: 4rem;
}
.list {
  margin-left: 11rem;
}
.badge {
  background-color: rgb(230, 87, 87);
}

@media (min-width: 100px) and (max-width:480px) {
 
  .Classwise-breakthrough {
    display: block;
  }
  .list-element {
    margin-left: 0px;
    flex-direction: row;
  }
  .list{
    margin-left: 3.75rem;
  }
  
}
